<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="dist/semantic.css"/>
    <style>
        body {
            font-family: '微软雅黑';
        }
        i.remove {
            cursor: pointer;
        }
    </style>
    <script src="../jquery/jquery-1.10.2.js"></script>
    <script src="dist/semantic.js"></script>

    <script src="../angular/angular.min.js"></script>

    <script>
        var module = angular.module("TODOList",[]);
        var todoController = module.controller("todoController",[function() {
            var _self = this;
            _self.user = {
                username : {
                    value : "",
                    valid : false,
                    validate : function() {
                        if(this.value) {
                            this.valid = true;
                        } else {
                            this.valid = false;
                            return "required";
                        }
                    }
                },
                password : {
                    value : "",
                    valid : false,
                    validate : function() {

                        if(!this.value) {
                            this.valid = false;
                            return "required";
                        } else if(this.value.length < 5) {
                            this.valid = false;
                            return "minlength5";
                        } else {
                            this.valid = true;
                        }
                    }
                },
                repassword : {
                    value : "",
                    valid : false,
                    validate : function(password) {
                        if(this.value == password) {
                            this.valid = true;
                        } else {
                            this.valid = false;
                            return "unequal";
                        }
                    }
                },
                validate : function() {
                    return this.username.valid && this.password.valid && this.repassword.valid;
                },
                check : function() {
                    if($("#ck").prop("checked")) {
                        this.agree = true;
                    } else {
                        this.agree = false;
                    }
                    this.gender = $(".gender").find(":radio:checked").val();
                },
                agree : true,
                gender : "male",
                college : "",
                countries : [
                    {label: 'USA' , cid: 1},
                    {label: 'India' , cid: 2},
                    {label: 'Other' , cid: 3}
                ],
                selectedCountryId : 2,
                selectedValue : ""

            };

            _self.user.selectedCountry = _self.user.countries[1];

            _self.click = function() {
                alert("agree:" + _self.user.agree);
                alert("gender:" + _self.user.gender);
                alert("college:" + _self.user.college);
            }

        }]);

    </script>
    <script>
        $(function() {
            $('.ui.checkbox').checkbox();
            $('.ui.radio.checkbox').checkbox();
            $('select.dropdown').dropdown();
        });
    </script>
</head>
<body ng-app="TODOList">
<div class="ui four column grid">
    <div class="column two">

    </div>
    <div class="column eight wide" ng-controller="todoController as ctrl">
        <div class="ui segment">
            <div class="ui large header" contenteditable="true">注册新用户</div>
            <div class="ui segment positive icon message">
                <i class="mobile icon"></i>
                <div class="content">
                    <h3 class="header">Welcome</h3>
                    <p>请在下面填写您的信息：</p>
                </div>
            </div>
            <form>
            <div class="ui form">
                <div class="required field" ng-class="ctrl.user.username.valid?'':'error'">
                    <label>用户名：</label>
                    <div class="ui left icon input">
                        <input ng-model="ctrl.user.username.value" placeholder="用户名" type="text" ng-change="ctrl.user.username.validate()">
                        <i class="user icon"></i>
                    </div>
                    <div ng-show="'required'==ctrl.user.username.validate()" class="ui red pointing above ui label">用户名不能为空</div>
                </div>
                <div class="required field" ng-class="ctrl.user.password.valid?'':'error'">
                    <label>密码：</label>
                    <div class="ui left icon input">
                        <input ng-model="ctrl.user.password.value" placeholder="请输入密码" type="password">
                        <i class="lock icon"></i>
                    </div>
                    <div ng-show="'required'==ctrl.user.password.validate()" class="ui red pointing above ui label">密码不能为空</div>
                    <div ng-show="'minlength5'==ctrl.user.password.validate()" class="ui red pointing above ui label">密码必须不得小于5位</div>
                </div>
                <div class="required field" ng-class="ctrl.user.password.valid?(ctrl.user.repassword.valid?'':'error'):'disabled'">
                    <label>再次输入密码：</label>
                    <div class="ui left icon input">
                        <input ng-model="ctrl.user.repassword.value" placeholder="请再次输入密码" type="password" ng-disabled="!ctrl.user.password.value">
                        <i class="lock icon"></i>
                    </div>
                    <div ng-show="ctrl.user.password.valid && 'unequal'==ctrl.user.repassword.validate(ctrl.user.password.value)" class="ui red pointing above ui label">两次输入密码必须相同</div>
                </div>
                <div class="inline fields gender">
                    <label for="fruit">性别：</label>
                    <div class="field">
                        <div class="ui radio checkbox" ng-click="ctrl.user.check()">
                            <input name="fruit" type="radio" value="male" ng-model="ctrl.user.gender">
                            <label>男</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox" ng-click="ctrl.user.check()">
                            <input name="fruit" type="radio" value="female" ng-model="ctrl.user.gender">
                            <label>女</label>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Country</label>
                    <select class="ui dropdown" ng-model="ctrl.user.selectedValue">
                        <option value="">请选择</option>
                        <option ng-repeat="c in ctrl.user.countries" ng-value="c.cid">{{c.label}}</option>
                    </select>
                    Selected Country value : {{ctrl.user.selectedValue}}
                </div>
                <div class="field">
                    <label>Country</label>
                    <select class="ui dropdown" ng-model="ctrl.user.selectedCountryId" ng-options="c.cid as c.label for c in ctrl.user.countries">
                    </select>
                    Selected Country ID : {{ctrl.user.selectedCountryId}}
                </div>
                <div class="field">
                    <label>Country</label>
                    <select class="ui dropdown" ng-model="ctrl.user.selectedCountry" ng-options="c.label for c in ctrl.user.countries">
                    </select>
                    Selected Country : {{ctrl.user.selectedCountry.label}}
                </div>
                <div class="field">
                    <label>学校</label>
                    <select class="ui dropdown" ng-model="ctrl.user.college">
                        <option value="">请选择您的学校</option>
                        <option value="BUPT">北京邮电大学</option>
                        <option value="USTB">北京科技大学</option>
                    </select>
                </div>
                <div class="field">
                    <div class="ui checkbox"  ng-click="ctrl.user.check()">
                        <input id="ck" type="checkbox" ng-checked="ctrl.user.agree">
                        <label>I agree to the Terms and Conditions</label>
                    </div>
                </div>
                <div class="ui green submit button" ng-click="ctrl.click()" ng-class="ctrl.user.validate()?'':'disabled'">Submit</div>
            </div>
            </form>
        </div>
    </div>
    <div class="column">

    </div>
</div>


</body>
</html>